<div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Debtors (Customers)</h1>
                            </div>
                        </div>
                    </div><!-- /# column -->
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <!-- <ol class="breadcrumb text-right">
                                    <li><a href="./UI-SamplePages/#">Accounts dashboard</a></li>
                                    <li class="active">Home</li>
                                </ol> -->
                            </div>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->
                <div class="main-content">
					<div class="row"> 
						<div class="col-lg-8">
							<div class="card alert">
								<div class="card-header bg-success text-white">
									<h4>Earning Graph</h4>
									<!-- <div class="card-header-right-icon">
										<ul>
											<li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
										</ul>
									</div> -->
								</div>
								<div class="sales-chart">
									<canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
								</div>
							</div>
						</div><!-- /# column -->
                        <div class="col-lg-4">

                            <div class="col-lg-12">
                                <div class="card alert">
                                    <div class="card-header bg-info text-white">
                                        <h4>Completed</h4>

                                        <div class="card-header-right-icon">
                                            <ul>
                                                <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="">
                                                        <h5>Total document</h5>
                                                        <p>The document dummy text here</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <div class="">

                                                        <button type="button" class="btn btn-lg btn-rounded btn-info">
                                                            23
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /# card -->
                            </div><!-- /# column -->


                            <div class="col-lg-12">
                                <div class="card alert">
                                    <div class="card-header bg-default text-white">
                                        <h4>Approved </h4>

                                        <div class="card-header-right-icon">
                                            <ul>
                                                <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="">
                                                        <h5>Total document</h5>
                                                        <p>The document dummy text here</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <div class="">

                                                        <button type="button" class="btn btn-lg btn-rounded btn-default">
                                                            76
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /# card -->
                            </div><!-- /# column -->

                            <div class="col-lg-12">
                                <div class="card alert">
                                    <div class="card-header bg-warning text-white">
                                        <h4>Under process</h4>

                                        <div class="card-header-right-icon">
                                            <ul>
                                                <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="">
                                                        <h5>Total document</h5>
                                                        <p>The document dummy text here</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <div class="">

                                                        <button type="button" class="btn btn-lg btn-rounded btn-warning">
                                                            36
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /# card -->
                            </div><!-- /# column -->
                                
                            
                        </div>
                    </div><!-- /# row -->


					<div class="row">
                        <div class="col-lg-8">
                            <div class="card alert">
                                <div class="card-header bg-dark text-white">
                                    <h4>Expences</h4>
                                    <!-- <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="sales-chart">
                                    <canvas id="line-chart" width="800" height="450"></canvas>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header bg-primary text-white">
                                    <h4>Timeline</h4>
                                    <!-- <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="card-body">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"><i class="fa fa-smile-o"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h5 class="timeline-title">You deleted homepage.psd</h5>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>10 minutes ago</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h5 class="timeline-title">You change your profile picture</h5>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>20 minutes ago</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h5 class="timeline-title">You followed john doe</h5>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>30 minutes ago</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="timeline-badge success"><i class="fa fa-check-circle-o"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h5 class="timeline-title">Some new content has been added. </h5>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>15 minutes ago</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div><!-- /# column -->
						
					</div><!-- /# row -->

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card alert">
                                <div class="card-header bg-pink text-white">
                                    <h4>Sales</h4>
                                    <!-- <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="sales-chart">
                                    <canvas id="doughnut-chart" width="800" height="450"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header bg-success text-white">
                                    <h4>Todo List</h4>
                                    <div class="card-header-right-icon">
                                        <!-- <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul> -->
                                    </div>
                                </div>
                                <div class="todo-list">
                                    <div class="tdl-holder">
                                        <div class="tdl-content">
                                            <ul>
                                                <li><label><input type="checkbox"><i></i><span>Decorate Kitchen Room</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>Delevery Pizza</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox"><i></i><span>New Order </span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>Home Delevery</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>New Chicken Receipe</span><a href='#' class="ti-close"></a></label></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# column -->
                        
                    </div><!-- /# row -->

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card alert">
                                <div class="card-header bg-pink text-white">
                                    <h4>Pie chart</h4>
                                    <!-- <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="sales-chart">
                                    <canvas id="pieChart" width="800" height="450"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header bg-success text-white">
                                    <h4>Todo List</h4>
                                    <div class="card-header-right-icon">
                                        <!-- <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> 
                                        </ul> -->
                                    </div>
                                </div>
                                <div class="todo-list">
                                    <div class="tdl-holder">
                                        <div class="tdl-content">
                                            <ul>
                                                <li><label><input type="checkbox"><i></i><span>Decorate Kitchen Room</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>Delevery Pizza</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox"><i></i><span>New Order </span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>Home Delevery</span><a href='#' class="ti-close"></a></label></li>
                                                <li><label><input type="checkbox" checked><i></i><span>New Chicken Receipe</span><a href='#' class="ti-close"></a></label></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# column -->
                        
                    </div><!-- /# row -->
				</div><!-- /# main content -->
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->

