<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="./UI-SamplePages/http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="./UI-SamplePages/http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="./UI-SamplePages/http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="./UI-SamplePages/http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="./UI-SamplePages/http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="./UI-Tools/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="./UI-Tools/css/lib/themify-icons.css" rel="stylesheet">
    <link href="./UI-Tools/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="./UI-Tools/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="./UI-Tools/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="./UI-Tools/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="./UI-Tools/css/lib/sidebar.css" rel="stylesheet">
    <link href="./UI-Tools/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="./UI-Tools/css/lib/simdahs.css" rel="stylesheet">
    <link href="./UI-Tools/css/style.css" rel="stylesheet">


    
    <!-- Scripts -->
    <script src="./UI-Tools/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script src="./UI-Tools/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->    
    <script src="./UI-Tools/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="./UI-Tools/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="./UI-Tools/js/lib/mmc-common.js"></script>
    <script src="./UI-Tools/js/lib/mmc-chat.js"></script>
    <!--  Chart js -->
    <!-- <script src="./UI-Tools/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="./UI-Tools/js/lib/chart-js/chartjs-init.js"></script> -->
    
    <!-- // Chart js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>



    <script src="./UI-Tools/js/lib/sparklinechart/jquery.sparkline.min.js"></script><!-- scripit init-->
    <script src="./UI-Tools/js/lib/sparklinechart/sparkline.init.js"></script><!-- scripit init-->
    
    <!--  Datamap -->
    <script src="./UI-Tools/js/lib/datamap/d3.min.js"></script>
    <script src="./UI-Tools/js/lib/datamap/topojson.js"></script>
    <script src="./UI-Tools/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="./UI-Tools/js/lib/datamap/datamap-init.js"></script>
    <!-- // Datamap -->
    <script src="./UI-Tools/js/lib/weather/jquery.simpleWeather.min.js"></script>   
    <script src="./UI-Tools/js/lib/weather/weather-init.js"></script>
    <script src="./UI-Tools/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="./UI-Tools/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- <script src="./UI-Tools/js/scripts.js"></script> --><!-- scripit init-->
