	<script>
        /*var url = window.location.pathname;
        var fileName = url.substring(url.lastIndexOf('/')+1);
        var res = fileName.split(".");
        pageTitle = res[0].charAt(0).toUpperCase() + res[0].slice(1);;
        console.log("pageTitle:" + pageTitle);
        document.getElementByTagName("title").innerHTML = pageTitle;
        document.getElementById("pageTitle").innerHTML = pageTitle;*/
    </script>

</body>

</html>

