<div class="pull-left">
            <div class="logo" id="sideLogo">
                <a href="#">
                    <img class="full-logo" src="./UI-Tools/images/logo-big-new-w.png" alt="SimDahs">
                    <img class="small-logo" src="./UI-Tools/images/logo-small-new-w.png" alt="SimDahs">
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>

        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib"><i class="ti-bell"></i>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Recent Notifications</span>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Mr. Raizer</div>
                                            <div class="notification-text">5 members joined today </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Sofiya</div>
                                            <div class="notification-text">likes a photo of you</div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Richard</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Sara Maggi</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="./UI-SamplePages/#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib"><i class="ti-email"></i>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">2 New Messages</span>
                            <a href="./UI-SamplePages/email.html"><i class="ti-pencil-alt pull-right"></i></a>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li class="notification-unread">
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/1.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">John Doe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="notification-unread">
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Sara Maggi</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">John Doe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="./UI-SamplePages/#">
                                        <img class="pull-left m-r-10 avatar-img" src="./UI-Tools/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Sara Maggi</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="./UI-SamplePages/#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib chat-sidebar-icon"><i class="ti-comment"></i></li>
                <li class="header-icon dib"><img class="avatar-img" src="./UI-Tools/images/avatar/1.jpg" alt="" /> <span class="user-avatar">Wolf <i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Upgrade Now</span>
                            <p class="trial-day">30 Days Trail</p>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="./UI-SamplePages/#"><i class="ti-user"></i> <span>Profile</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-wallet"></i> <span>My Balance</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-write"></i> <span>My Task</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-calendar"></i> <span>My Calender</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-email"></i> <span>Inbox</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-settings"></i> <span>Setting</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-help-alt"></i> <span>Help</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-lock"></i> <span>Lock Screen</span></a></li>
                                <li><a href="./UI-SamplePages/#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>