<script>
    /*var path = window.location.href;
    var page = path.searchParams.get("p");
    console.log("pageLoad:" + page);
    $(".pageLabel").text(page);*/
</script>
<div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="label pageLabel">Main</li>
                    <li class="active"><a href="./master.php?p=bank-dashboard"><i class="ti-home"></i> Dashboard </a></li>   
                    
                    <li><a href="./onboarding.html"><i class="ti-file"></i> Onboarding</a></li>
                    
                    <li><a href="./UI-SamplePages/app-profile.html"><i class="ti-user"></i> Profile</a></li>
                    
                    <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> Sales <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="./master.php?p=customer-dashboard">Customer Dashboard</a></li>
                            <li><a href="./invoice-page.html">Invoice page</a></li>
                            
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> Finance <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="./master.php?p=bank-dashboard">Dashboard Page</a></li>
                            <li><a href="./bank-master.html">Bank Master</a></li>
                            <li><a href="./bank-transaction.html">Transaction</a></li>
                            <li><a href="./bank-statement-mapping.html">Statement Mapping</a></li>
                            <li><a href="./bank-payment-confirmation.html">Payment Confirmation</a></li>
                        </ul>
                    </li>
                        
                    
                    <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Document <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="./upload-document.html">Upload document</a></li>
                            <li><a href="./uploaded-document.html">Uploaded document</a></li>
                            <li><a href="./upload-document-multiline-breakdown.html">Upload document multiline breakdown</a></li>
                            
                        </ul>
                    </li>
                    

                    <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-reset-password.html">Forgot password</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="./scanned-document-dashboard.html"><i class="ti-file"></i> Scanned document dashboard</a></li>

                    <li><a href="./posting-data-accounting-software.html"><i class="ti-file"></i> Posting data accounting software</a></li>

                    <li><a><i class="ti-close"></i> Logout</a></li>

                </ul>
            </div>
        </div>