@charset "UTF-8";
/*
    Template: Unix
    Author: VueJS Admin
    Url: https://vuejsadmin.com
    Developer by: VueJS Admin

*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
.card-body {
  background: #fff;
}

.card {
  background: #fff;
  margin: 15px 0px 15px 0px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #e7e7e7;
}

.card-header {
  border-radius: 3px;
  color: #000000 !important;
  background-color: #ddd;
  padding: 15px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  z-index: 99;
}
.card-header h4 {
  display: inline-block;
}
.card-header p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 12px;
}

.card-header1 {
  border-radius: 3px;
  border-top: 3px solid #5baba3;
  background-color: #ddd;
  padding: 15px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.card-header1 h4 {
  display: inline-block;
}
.card-header1 p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 12px;
}

.card-header2 {
  border-radius: 3px;
  border-bottom: 2px solid #5baba3;
  box-shadow: 0px 1px;
  background-color: #ddd;
  padding: 15px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.card-header2 h4 {
  display: inline-block;
}
.card-header2 p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 12px;
}

.single-card h4 {
  font-size: 16px;
}
.single-card .sparkline-box {
  float: right;
}
.single-card .visit-count {
  float: left;
  padding-top: 18px;
  line-height: 10px;
  font-size: 18px;
}

.card-header-right-icon {
  display: inline-block;
  float: right;
}
.card-header-right-icon li {
  float: right;
  padding-left: 14px;
  color: #878787;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}
.card-header-right-icon li .ti-close {
  font-size: 12px;
}

.card-option {
  position: relative;
}

.card-option-dropdown {
  display: none;
  left: auto;
  right: 0;
}
.card-option-dropdown li {
  display: block;
  float: left;
  width: 100%;
  padding: 0px;
}
.card-option-dropdown li a {
  line-height: 25px;
  font-size: 12px;
}
.card-option-dropdown li a i {
  margin-right: 10px;
}

.doc-link {
  float: right;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.doc-link:hover:after, .doc-link:focus:after {
  opacity: 1;
  visibility: visible;
}
.doc-link:after {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  content: "Documentation";
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  right: -30px;
  top: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.badge {
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 4px;
}

.badge-primary {
  background: #009688;
  color: #fff;
}

.badge-success {
  background: #87de75;
  color: #fff;
}

.badge-info {
  background: #5fb9e2;
  color: #fff;
}

.badge-warning {
  background: #f39c12;
  color: #fff;
}

.badge-danger {
  background: #cc5145;
  color: #fff;
}

.badge-pink {
  background: #9a5ea5;
  color: #fff;
}

.badge-dark {
  background: #252525;
  color: #fff;
}

.nav-tabs > li > a {
  border-radius: 0px;
  padding: 7px 24px;
  margin-right: 0px;
}

.tab-pane {
  color: #000000;
  line-height: 26px;
  padding-top: 15px;
}

/*    Custom Tab
----------------------*/
.custom-tab .nav-tabs > li.active > a,
.custom-tab .nav-tabs > li.active > a:focus,
.custom-tab .nav-tabs > li.active > a:hover {
  border-color: transparent transparent;
  color: #009688;
  position: relative;
}
.custom-tab .nav-tabs > li.active > a:after,
.custom-tab .nav-tabs > li.active > a:focus:after,
.custom-tab .nav-tabs > li.active > a:hover:after {
  background: #009688;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}
.custom-tab .nav > li > a:focus,
.custom-tab .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid transparent;
}

/*    Vertical Tab Left
----------------------*/
.vertical-tab-left .nav-tabs {
  float: left;
  border-right: 1px solid #e7e7e7;
  border-bottom: 0px;
}
.vertical-tab-left .nav-tabs > li {
  float: none;
}
.vertical-tab-left .nav-tabs > li.active > a,
.vertical-tab-left .nav-tabs > li.active > a:focus,
.vertical-tab-left .nav-tabs > li.active > a:hover {
  background: #009688;
  color: #fff;
  border-color: transparent transparent;
}
.vertical-tab-left .nav > li > a:focus,
.vertical-tab-left .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid transparent;
}
.vertical-tab-left .tab-pane {
  padding-top: 0;
}

/*    Vertical Tab Right
----------------------*/
.vertical-tab-right .nav-tabs {
  float: right;
  border-left: 1px solid #e7e7e7;
  border-bottom: 0px;
}
.vertical-tab-right .nav-tabs > li {
  float: none;
}
.vertical-tab-right .nav-tabs > li.active > a,
.vertical-tab-right .nav-tabs > li.active > a:focus,
.vertical-tab-right .nav-tabs > li.active > a:hover {
  background: #009688;
  color: #fff;
  border-color: transparent transparent;
}
.vertical-tab-right .nav > li > a:focus,
.vertical-tab-right .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid transparent;
}
.vertical-tab-right .tab-pane {
  padding-top: 0;
}

.modal-dialog {
  margin: 30px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  width: 70%;
}

.modal-header .close {
  font-size: 14px;
  margin-right: 15px;
  margin-top: 5px;
}

.modal-content {
  border-radius: 3px;
}

.timeline {
  list-style: none;
  padding: 55px 0 20px;
  position: relative;
}

.timeline:before {
  top: 55px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #e7e7e7;
  left: 25px;
  margin-right: -1.5px;
}

.timeline > li {
  margin-bottom: 5px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc(100% - 70px);
  float: right;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 5px 20px;
  position: relative;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #e7e7e7;
  border-left: 0 solid #e7e7e7;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 8px;
  margin-right: -25px;
  background-color: #9a5ea5;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-body > p {
  font-size: 12px;
}

.timeline-badge.primary {
  background-color: #009688 !important;
}

.timeline-badge.success {
  background-color: #87de75 !important;
}

.timeline-badge.warning {
  background-color: #f39c12 !important;
}

.timeline-badge.danger {
  background-color: #cc5145 !important;
}

.timeline-badge.info {
  background-color: #5fb9e2 !important;
}

.bootstrap-data-table-panel .dataTables_filter {
  text-align: right;
}
.bootstrap-data-table-panel .dataTables_filter .form-control {
  margin-left: 10px;
}
.bootstrap-data-table-panel .dataTables_filter .form-control:hover, .bootstrap-data-table-panel .dataTables_filter .form-control:focus {
  background: transparent;
}

.dataTables_length {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.dt-buttons {
  margin-bottom: 15px;
}
.dt-buttons .dt-button {
  background-image: none;
  background: #fff;
  color: #000000;
  border-color: #e7e7e7;
  margin-right: 10px;
  padding: 7px 20px;
  border-radius: 0px;
}
.dt-buttons .dt-button:hover:not(.disabled), .dt-buttons .dt-button:focus, .dt-buttons .dt-button.active {
  background-image: none;
  background: #009688;
  color: #fff;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
  background-color: #009688;
  background-image: none;
  border: 1px solid #009688;
  box-shadow: none;
  color: #fff;
}

button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
  background-color: #009688;
  background-image: none;
  border: 1px solid #009688;
  box-shadow: none;
  color: #fff;
}

button.dt-button:active:hover:not(.disabled):not(.disabled),
button.dt-button.active:hover:not(.disabled):not(.disabled),
div.dt-button:active:hover:not(.disabled):not(.disabled),
div.dt-button.active:hover:not(.disabled):not(.disabled),
a.dt-button:active:hover:not(.disabled):not(.disabled),
a.dt-button.active:hover:not(.disabled):not(.disabled) {
  background-color: #009688;
  background-image: none;
  border: 1px solid #009688;
  box-shadow: none;
  color: #fff;
}

button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled) {
  background-color: #009688;
  background-image: none;
  border: 1px solid #009688;
  box-shadow: none;
  color: #fff;
}

.panel {
  border-radius: 0;
  margin: 15px 0;
}

.panel-body {
  font-family: "Quicksand", sans-serif;
}

.panel-primary {
  border-color: #009688;
}
.panel-primary .panel-heading {
  background: #009688;
  border-color: #009688;
  color: #fff;
}

.panel-success {
  border-color: #87de75;
}
.panel-success .panel-heading {
  background: #87de75;
  border-color: #87de75;
  color: #fff;
}

.panel-info {
  border-color: #5fb9e2;
}
.panel-info .panel-heading {
  background: #5fb9e2;
  border-color: #5fb9e2;
  color: #fff;
}

.panel-danger {
  border-color: #cc5145;
}
.panel-danger .panel-heading {
  background: #cc5145;
  border-color: #cc5145;
  color: #fff;
}

.panel-warning {
  border-color: #f39c12;
}
.panel-warning .panel-heading {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.panel-pink {
  border-color: #9a5ea5;
}
.panel-pink .panel-heading {
  background: #9a5ea5;
  border-color: #9a5ea5;
  color: #fff;
}

.panel-dark {
  border-color: #252525;
}
.panel-dark .panel-heading {
  background: #252525;
  border-color: #252525;
  color: #fff;
}

.panel-white {
  border-color: #252525;
}
.panel-white .panel-heading {
  background: #fff;
  border-color: #252525;
  color: #252525;
}

.btn-default {
  background: #b1b1b1;
  border-color: #b1b1b1;
  color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default.active {
  background: #989898;
  border-color: #b1b1b1;
  color: #fff;
  box-shadow: none;
}

.btn-primary {
  background: #009688;
  border-color: #009688;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  background: #00635a;
  border-color: #009688;
  color: #fff;
  box-shadow: none;
}

.btn-success {
  background: #87de75;
  border-color: #87de75;
  color: #fff;
}
.btn-success:hover, .btn-success:focus, .btn-success.active {
  background: #63d44c;
  border-color: #87de75;
  color: #fff;
  box-shadow: none;
}

.btn-info {
  background: #5fb9e2;
  border-color: #5fb9e2;
  color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info.active {
  background: #34a6da;
  border-color: #5fb9e2;
  color: #fff;
  box-shadow: none;
}

.btn-warning {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.active {
  background: #c87f0a;
  border-color: #f39c12;
  color: #fff;
  box-shadow: none;
}

.btn-danger {
  background: #cc5145;
  border-color: #cc5145;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.active {
  background: #ae3b30;
  border-color: #cc5145;
  color: #fff;
  box-shadow: none;
}

.btn-pink {
  background: #9a5ea5;
  border-color: #9a5ea5;
  color: #fff;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink.active {
  background: #7c4b85;
  border-color: #9a5ea5;
  color: #fff;
  box-shadow: none;
}

.btn-dark {
  background: #252525;
  border-color: #252525;
  color: #fff;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark.active {
  background: #0c0c0c;
  border-color: #252525;
  color: #fff;
  box-shadow: none;
}

.btn-addon {
  position: relative;
  padding-left: 40px;
}
.btn-addon i {
  background: rgba(0, 0, 0, 0.1);
  left: -1px;
  margin-right: 20px;
  padding: 10px;
  position: absolute;
  top: -1px;
}

.btn-addon.btn-lg {
  padding-left: 60px;
}
.btn-addon.btn-lg i {
  padding: 14px;
}

.btn-addon.btn-md {
  padding-left: 45px;
}
.btn-addon.btn-md i {
  padding: 10px;
}

.btn-addon.btn-sm {
  padding-left: 40px;
}
.btn-addon.btn-sm i {
  padding: 9px;
}

.btn-addon.btn-xs {
  padding-left: 25px;
}
.btn-addon.btn-xs i {
  padding: 5px;
}

.btn-rounded {
  border-radius: 100px;
}

.btn-outline {
  background: transparent;
  color: #000000;
}

.btn-flat {
  border-radius: 0px;
}

/*    Header
---------------*/
.header {
  background: #009688;
  position: fixed;
  width: 100%;
  min-height: 55px;
  z-index: 999;
}

.logo {
  background: #009688;
  display: inline-block;
  padding: 0;
  line-height: 50px;
  text-align: center;
  width: 250px;
  transition: width 300ms ease-in-out;
}
.logo img {
  height: 55px;
  margin-right: 10px;
  transition: 300ms ease-in-out;
}
.logo .small-logo {
  visibility: hidden;
  opacify: 0;
  width: 0;
  height: 0;
}
.logo span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 20px;
  text-transform: uppercase;
}

.sidebar-hide .logo {
  width: 60px;
}
.sidebar-hide .logo span {
  display: none;
}
.sidebar-hide .full-logo {
  visibility: hidden;
  opacify: 0;
  width: 0;
  height: 0;
}
.sidebar-hide .small-logo {
  visibility: visible;
  opacify: 1;
  width: auto;
  height: 45px;
}

.header-icon {
  font-size: 18px;
  padding: 12px 15px;
  color: #fff;
  position: relative;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  float: left;
  cursor: pointer;
}
.header-icon:hover, .header-icon:focus, .header-icon.active {
  background: #00877a;
}
.header-icon .note-count {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 10px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 100%;
  text-align: center;
  background: #00a4b9;
  z-index: 9999;
  font-weight: 600;
  animation-name: noteblink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

@keyframes noteblink {
  0%, 30%, 36%, 45%, 52%, 100% {
    background: #00a4b9;
    color: white;
  }
  31%, 35%, 46%, 51% {
    background: white;
    color: #00a4b9;
  }
}
/*    Humberger icon
--------------------------*/
.hamburger {
  display: inline-block;
  left: 10px;
  position: relative;
  top: 7px;
  transition: all 0.3s ease-in-out 0s;
  width: 37px;
  z-index: 999;
  cursor: pointer;
}
.hamburger > span {
  color: white;
  font-size: 25px;
}

.header-icon.active .drop-down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.drop-down {
  background: #fff;
  color: #252525;
  visibility: hidden;
  opacity: 0;
  width: 320px;
  position: absolute;
  right: 0;
  top: 55px;
  transform: translateY(50px);
  transition: all 0.4s ease-in-out;
  border-top: 0px;
  border: 1px solid #e7e7e7;
}

.header-left .drop-down {
  left: 0;
}

.dropdown-content-heading {
  padding: 10px 15px;
}
.dropdown-content-heading span {
  font-size: 13px;
  color: #000000;
}
.dropdown-content-heading i {
  position: relative;
  top: 5px;
  opacity: 1 !important;
  color: #009688;
}

.dropdown-content-body li {
  padding: 15px;
  border-top: 1px solid #f5f5f5;
}
.dropdown-content-body li:hover, .dropdown-content-body li:focus, .dropdown-content-body li.active {
  background: #f5f5f5;
  border-top: 1px solid #f5f5f5;
}
.dropdown-content-body li a:hover, .dropdown-content-body li a:focus, .dropdown-content-body li a.active {
  color: #878787;
}
.dropdown-content-body li:last-child {
  padding: 5px 15px;
}

.notification-heading {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
}

.avatar-img {
  border-radius: 100px;
  width: 25px;
  position: relative;
  top: -3px;
}

.header-icon > .avatar-img {
  width: 24px;
}

.user-avatar {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  .header-icon > .avatar-img {
    margin-right: 42px;
  }

  .header-icon > .user-avatar {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header-icon > .avatar-img {
    margin-right: 22px;
  }
}
.notification-text {
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 3px;
}

.notification-timestamp {
  font-size: 11px;
}

.notification-percentage {
  font-size: 12px;
  position: relative;
  top: 12px;
}

.notification-unread {
  background: #f5f5f5;
}
.notification-unread .notification-heading {
  color: #555;
}

.more-link {
  font-size: 12px;
  color: #009688;
  display: inline-block;
}

.dropdown-profile {
  width: 200px;
}
.dropdown-profile .trial-day {
  font-size: 11px;
  padding-top: 2px;
  color: #009688;
}
.dropdown-profile li {
  padding: 7px 15px;
}
.dropdown-profile li a {
  display: block;
  color: #000000;
}
.dropdown-profile li a:hover, .dropdown-profile li a:focus, .dropdown-profile li a.active {
  color: #000000;
}
.dropdown-profile li a span {
  font-size: 14px;
}
.dropdown-profile li a i {
  margin-right: 5px;
  font-size: 14px;
}
.dropdown-profile li:last-child {
  padding: 7px 15px;
}

.header-link {
  position: relative;
  top: -3px;
  font-size: 14px;
}

.main .page-header {
  min-height: 55px;
  margin: 0px;
  padding: 0px 15px;
  background: #fff;
  border-bottom: 0px;
}
.main .page-header h1 {
  font-size: 18px;
  padding: 14px 0px;
  margin: 0px;
}
.main .page-header .breadcrumb {
  margin: 0px;
  padding: 14px 15px;
  background: #fff;
}
.main .page-header .breadcrumb li:hover, .main .page-header .breadcrumb li:focus, .main .page-header .breadcrumb li.active {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.main .page-header .breadcrumb li a {
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
}

.dropdown-task .progress {
  height: 5px;
  margin-bottom: 0px;
  margin-top: 20px;
  box-shadow: none;
}
.dropdown-task .progress-bar {
  box-shadow: none;
}

.map {
  width: 100%;
  height: 400px;
}

.chat-sidebar {
  background-color: #f5f5f5;
  border-left: 1px solid #e7e7e7;
  position: fixed;
  right: -240px;
  bottom: 0;
  top: 55px;
  width: 240px;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.chat-sidebar .user-name {
  font-family: "Quicksand", sans-serif;
}
.chat-sidebar .content {
  font-family: "Quicksand", sans-serif;
}
.chat-sidebar .textarea {
  font-family: "Quicksand", sans-serif;
}
.chat-sidebar .seen {
  font-family: "Quicksand", sans-serif;
}

.chat-sidebar.is-active {
  right: 0;
}

.chat-user-search .input-group-addon {
  background: #fff;
  border-radius: 0px;
  border: 0px;
}
.chat-user-search .form-control {
  border: 0px;
}

.hidden {
  display: none;
}

/*    Home Chat Widget
---------------------------------*/
.chat-widget .chat_window {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  background-color: #f8f8f8;
  overflow: hidden;
}
.chat-widget .messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  min-height: 350px;
  overflow: scroll;
}
.chat-widget .messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.chat-widget .messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.chat-widget .messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 100px);
  min-width: 100px;
  position: relative;
}
.chat-widget .messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.chat-widget .messages .message .text_wrapper::after {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 13px;
  margin-top: 0px;
}
.chat-widget .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chat-widget .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.chat-widget .messages .message.left .text_wrapper::after,
.chat-widget .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.chat-widget .messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.chat-widget .messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.chat-widget .messages .message.left .text {
  color: #c48843;
}
.chat-widget .messages .message.right .text_wrapper::after,
.chat-widget .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.chat-widget .messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.chat-widget .messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.chat-widget .messages .message.right .text {
  color: #45829b;
}
.chat-widget .messages .message.appeared {
  opacity: 1;
}
.chat-widget .bottom_wrapper {
  position: relative;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  bottom: 0;
}
.chat-widget .bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.chat-widget .bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 45px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.chat-widget .bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.chat-widget .bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.chat-widget .bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #ffffff;
}
.chat-widget .message_template {
  display: none;
}

.testimonial-widget-one .testimonial-content {
  text-align: right;
}
.testimonial-widget-one .testimonial-text {
  margin-bottom: 30px;
}
.testimonial-widget-one .testimonial-author-position {
  font-family: "Quicksand", sans-serif;
  margin-right: 75px;
  position: relative;
  top: -5px;
}
.testimonial-widget-one .testimonial-author {
  margin-right: 75px;
  position: relative;
  top: -5px;
}
.testimonial-widget-one .testimonial-author-img {
  height: 50px !important;
  width: 50px !important;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*

Weather
-------------------------------------------------*/
.weather-one, .weather-box {
  position: relative;
}
.weather-one i, .weather-box i {
  font-size: 80px;
  position: relative;
  top: 5px;
}
.weather-one h2, .weather-box h2 {
  display: inline-block;
  float: right;
  font-size: 48px;
}
.weather-one .city, .weather-box .city {
  position: absolute;
  text-align: right;
  top: 0px;
  right: 0;
}
.weather-one .currently, .weather-box .currently {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 25px;
}
.weather-one .celcious, .weather-box .celcious {
  text-align: right;
  font-size: 20px;
}

[contenteditable]:hover, [contenteditable]:focus {
  background: #00e3cd;
}

.control-bar {
  position: relative;
  z-index: 100;
  background: #009688;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
}
.control-bar .slogan {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 2rem;
}
.control-bar label {
  margin: 0px;
  color: #fff;
}
.control-bar a {
  margin: 0;
  padding: 0.5em 1em;
  background: #fff;
  color: #000000;
}
.control-bar a:hover {
  background: #00e3cd;
}
.control-bar input {
  border: none;
  background: #00e3cd;
  max-width: 30px;
  text-align: center;
  color: #000000;
}
.control-bar input:hover {
  background: #00e3cd;
}

.hidetax .taxrelated {
  display: none;
}

.showtax .notaxrelated {
  display: none;
}

.hidedate .daterelated {
  display: none;
}

.showdate .notdaterelated {
  display: none;
}

.details input {
  display: inline;
  margin: 0 0 0 0.5rem;
  border: none;
  width: 55px;
  min-width: 0;
  background: transparent;
  text-align: left;
}

.invoice-edit .rate:before,
.invoice-edit .price:before,
.invoice-edit .sum:before,
.invoice-edit .tax:before,
.invoice-edit #total_price:before,
.invoice-edit #total_tax:before {
  content: "€";
}
.invoice-edit .me,
.invoice-edit .info,
.invoice-edit .bank,
.invoice-edit .smallme,
.invoice-edit .client,
.invoice-edit .bill,
.invoice-edit .details {
  padding: 15px;
}

.invoice-logo img {
  display: block;
  vertical-align: top;
  width: 50px;
}

/**
 * INVOICELIST BODY
 */
.invoicelist-body {
  margin: 1rem;
}
.invoicelist-body table {
  width: 100%;
}
.invoicelist-body thead {
  text-align: left;
  border-bottom: 2pt solid #666;
}
.invoicelist-body td,
.invoicelist-body th {
  position: relative;
  padding: 1rem;
}
.invoicelist-body tr:nth-child(even) {
  background: #f5f5f5;
}
.invoicelist-body tr:hover .removeRow {
  display: block;
}
.invoicelist-body input {
  display: inline;
  margin: 0;
  border: none;
  width: 80%;
  min-width: 0;
  background: transparent;
  text-align: left;
}
.invoicelist-body .control {
  display: inline-block;
  color: white;
  background: #009688;
  padding: 3px 7px;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}
.invoicelist-body .control:hover {
  background: #00b09f;
}
.invoicelist-body .newRow {
  margin: 0.5rem 0;
  float: left;
}
.invoicelist-body .removeRow {
  display: none;
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  left: -1.3rem;
  font-size: 0.7rem;
  border-radius: 3px 0 0 3px;
  padding: 0.5rem;
}

/**
 * INVOICE LIST FOOTER
 */
.invoicelist-footer {
  margin: 1rem;
}
.invoicelist-footer table {
  float: right;
  width: 25%;
}
.invoicelist-footer table td {
  padding: 1rem 2rem 0 1rem;
  text-align: right;
}
.invoicelist-footer table tr:nth-child(2) td {
  padding-top: 0;
}
.invoicelist-footer table #total_price {
  font-size: 2rem;
  color: #009688;
}

/**
 * NOTE
 */
.note {
  margin: 75px 15px;
}
.hidenote .note {
  display: none;
}
.note h2 {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.note p {
  font-size: 12px;
  padding: 0px 5px;
}

/**
 * FOOTER
 */
footer {
  display: block;
  margin: 1rem 0;
  padding: 1rem 0 0;
}
footer p {
  font-size: 12px;
}

/**
 * PRINT STYLE
 */
@media print {
  .header,
.sidebar,
.chat-sidebar,
.control,
.control-bar {
    display: none !important;
  }

  [contenteditable]:hover, [contenteditable]:focus {
    outline: none;
  }
}
#invoice {
  position: relative;
  /*  top: -290px;*/
  margin-bottom: 120px;
  /*  width: 700px;*/
  background: #fff;
  padding: 30px;
}

#invoice-table {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
}

#invoice-top {
  min-height: 120px;
}

#invoice-mid {
  min-height: 120px;
}

#invoice-bot {
  min-height: 250px;
}

.invoice-logo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}

.clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}

.invoice-info {
  display: block;
  float: left;
  margin-left: 20px;
}
.invoice-info h2 {
  color: #000000;
  font-size: 14px;
}
.invoice-info p {
  font-size: 12px;
}

.title {
  float: right;
}
.title h4 {
  color: #000000;
  text-align: right;
}

.title p {
  text-align: right;
  font-size: 12px;
}

#project {
  margin-left: 52%;
}
#project p {
  font-size: 12px;
}

#invoice-table h2 {
  font-size: 18px;
}

.tabletitle {
  padding: 5px;
  background: #e7e7e7;
}

.service {
  border: 1px solid #e7e7e7;
}

.table-item {
  width: 50%;
}

.itemtext {
  font-size: 0.9em;
}

#legalcopy {
  margin-top: 30px;
}
#legalcopy p {
  font-size: 12px;
}

.effect2 {
  position: relative;
}

.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.legal {
  width: 70%;
}

/*

Widget list
-------------------------------------------------*/
/*    Widget One
---------------------------*/
.stat-widget-one {
  overflow: hidden;
}
.stat-widget-one .stat-icon {
  vertical-align: top;
  float: left;
}
.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block;
}
.stat-widget-one .stat-content {
  margin-left: 15px;
  margin-top: 7px;
  float: left;
}
.stat-widget-one .stat-text {
  font-size: 14px;
  color: #878787;
}
.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #000000;
}

/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: left;
  position: relative;
}
.stat-widget-two .stat-digit {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.stat-widget-two .stat-digit i {
  margin-right: 2px;
}
.stat-widget-two .stat-text {
  font-size: 14px;
  margin-bottom: 5px;
  color: #878787;
}
.stat-widget-two .progress {
  height: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
  box-shadow: none;
}
.stat-widget-two .progress-bar {
  box-shadow: none;
}
.stat-widget-two .widget-icon {
  position: absolute;
  right: -5px;
  top: -10px;
  font-size: 20px;
}

/*    Widget Three
---------------------------*/
.stat-widget-three .stat-icon {
  display: inline-block;
  padding: 33px;
  position: absolute;
  line-height: 21px;
}
.stat-widget-three .stat-icon i {
  font-size: 30px;
  color: #fff;
}
.stat-widget-three .stat-content {
  text-align: center;
  padding: 15px;
  margin-left: 90px;
}
.stat-widget-three .stat-digit {
  font-size: 30px;
}
.stat-widget-three .stat-text {
  padding-top: 7px;
}

.stat-widget-four {
  position: relative;
}
.stat-widget-four .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-four i {
  display: block;
  font-size: 36px;
}
.stat-widget-four .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-four .stat-heading {
  font-size: 20px;
}

.stat-widget-five .stat-icon {
  border-radius: 100px;
  display: inline-block;
  position: absolute;
}
.stat-widget-five i {
  border-radius: 100px;
  display: block;
  font-size: 30px;
  padding: 20px;
}
.stat-widget-five .stat-content {
  margin-left: 84px;
  padding: 15px 0;
  position: relative;
  text-align: right;
  vertical-align: middle;
}
.stat-widget-five .stat-heading {
  text-align: right;
  font-size: 17px;
  font-weight: 200;
}

.stat-widget-six {
  position: relative;
}
.stat-widget-six .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-six i {
  display: block;
  font-size: 36px;
}
.stat-widget-six .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-six .stat-heading {
  font-size: 20px;
}

.stat-widget-seven {
  position: relative;
}
.stat-widget-seven .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-seven i {
  display: block;
  font-size: 36px;
}
.stat-widget-seven .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-seven .stat-heading {
  font-size: 20px;
}

.recent-comment .media {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
.recent-comment .media-left {
  padding-right: 25px;
}
.recent-comment .media-left img {
  border-radius: 100px;
}
.recent-comment .media-body h4 {
  font-size: 16px;
}
.recent-comment .media-body p {
  margin-bottom: 10px;
}

.comment-action {
  float: left;
}
.comment-action .badge {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}
.comment-action i {
  padding: 0px 5px;
}

.comment-date {
  float: right;
  color: #000000;
  font-family: "Quicksand", sans-serif;
}

.recent-meaasge {
  margin-top: 15px;
}
.recent-meaasge .media {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
.recent-meaasge .media-left {
  padding-right: 25px;
}
.recent-meaasge .media-left img {
  border-radius: 100px;
}
.recent-meaasge .media-body {
  position: relative;
}
.recent-meaasge .media-body h4 {
  font-size: 16px;
}
.recent-meaasge .media-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.meaasge-date {
  float: right;
  color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

/*    Input Style
------------------------*/
.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  height: 42px;
  border-radius: 0px;
  box-shadow: none;
  border-color: #e7e7e7;
  font-family: "Quicksand", sans-serif;
}
.form-control:hover {
  box-shadow: none;
  border-color: #e7e7e7;
}
.form-control:focus, .form-control.active {
  box-shadow: none;
  border-color: #b1b1b1;
}

.input-default {
  border-radius: 4px;
}

.input-flat {
  border-radius: 0px;
}

.input-rounded {
  border-radius: 100px;
}

.input-focus {
  border-color: #009688;
}
.input-focus:focus {
  border-color: #009688;
}

/*    Search Box Input Button
--------------------------------*/
.input-group-btn .btn {
  padding: 10px 12px;
}

.input-group-default .form-control {
  border-radius: 4px;
}

.input-group-flat .form-control {
  border-radius: 4px;
}
.input-group-flat .btn {
  border-radius: 0px;
  border-radius: 0px;
}

.input-group-rounded .form-control {
  border-radius: 100px;
}
.input-group-rounded .btn-group-left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.input-group-rounded .btn-group-right {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.input-group-close-icon {
  background: none;
  color: #252525;
  border-color: #e7e7e7;
}
.input-group-close-icon:hover, .input-group-close-icon:focus, .input-group-close-icon.active {
  background: none;
  border-color: #e7e7e7;
  color: #252525;
}

/*    Input States
-----------------------*/
.has-default .form-control:hover, .has-default .form-control:focus, .has-default .form-control.active,
.has-success .form-control:hover,
.has-success .form-control:focus,
.has-success .form-control.active,
.has-warning .form-control:hover,
.has-warning .form-control:focus,
.has-warning .form-control.active,
.has-error .form-control:hover,
.has-error .form-control:focus,
.has-error .form-control.active {
  box-shadow: none;
}

.has-default .control-label {
  color: #b1b1b1;
}
.has-default .form-control {
  border-color: #b1b1b1;
}
.has-default .form-control:hover, .has-default .form-control:focus, .has-default .form-control.active {
  border-color: #b1b1b1;
}

.has-success .control-label {
  color: #87de75;
}
.has-success .form-control {
  border-color: #87de75;
}
.has-success .form-control:hover, .has-success .form-control:focus, .has-success .form-control.active {
  border-color: #87de75;
}

.has-warning .control-label {
  color: #f39c12;
}
.has-warning .form-control {
  border-color: #f39c12;
}
.has-warning .form-control:hover, .has-warning .form-control:focus, .has-warning .form-control.active {
  border-color: #f39c12;
}

.has-error .control-label {
  color: #cc5145;
}
.has-error .form-control {
  border-color: #cc5145;
}
.has-error .form-control:hover, .has-error .form-control:focus, .has-error .form-control.active {
  border-color: #cc5145;
}

.has-feedback label ~ .form-control-feedback {
  top: 35px;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 5px;
}

.has-success .form-control-feedback {
  color: #87de75;
}

.has-warning .form-control-feedback {
  color: #f39c12;
}

.has-error .form-control-feedback {
  color: #cc5145;
}

.has-success .input-group-addon {
  background-color: #e0f7dc;
  border-color: #87de75;
  color: #87de75;
}

.has-warning .input-group-addon {
  background-color: #f9cf8b;
  border-color: #f39c12;
  color: #f39c12;
}

.has-error .input-group-addon {
  background-color: #e7afa9;
  border-color: #cc5145;
  color: #cc5145;
}

/*    Input Size
--------------------*/
.input-sm {
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
}

.input-lg {
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
}

/*    Basic form
----------------------*/
label {
  font-weight: 400;
  margin-bottom: 10px;
}

/*    Form Horizontal
----------------------*/
.form-horizontal .control-label {
  padding-top: 12px;
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.mail-box .sm-side {
  background: #fff;
  border-radius: 4px 0 0 4px;
  width: 25%;
}
.mail-box .sm-side .user-head {
  background: #fff;
  border-radius: 4px 0 0;
  color: #000000;
  min-height: 80px;
  padding: 10px;
}
.mail-box .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 4px 4px 0;
  width: 75%;
}

.user-head .inbox-avatar {
  float: left;
  width: 65px;
}
.user-head .inbox-avatar img {
  border-radius: 100px;
  height: 65px;
  width: 65px;
}
.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px;
}
.user-head .user-name h5 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px;
}
.user-head .user-name h5 a {
  color: #000000;
}
.user-head .user-name span a {
  color: #000000;
  font-size: 12px;
}

a.mail-dropdown {
  background: none repeat scroll 0 0 #80d3d9;
  border-radius: 2px;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px;
}

.inbox-body {
  padding: 20px 0px;
}
.inbox-body .modal .modal-body input {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}
.inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

.btn-compose {
  background: #009688;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 70%;
}
.btn-compose:hover, .btn-compose:focus, .btn-compose.active {
  background: #009688;
  color: #fff;
}

ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}
ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
ul.inbox-nav li a:hover {
  background: #f5f5f5;
  color: #6a6a6a;
}
ul.inbox-nav li a:focus {
  background: #f5f5f5;
  color: #6a6a6a;
}
ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px;
}
ul.inbox-nav li a span.label {
  margin-top: 13px;
}
ul.inbox-nav li.active a {
  background: #f5f5f5;
  color: #6a6a6a;
}

.inbox-divider {
  border-bottom: 1px solid #e7e7e7;
}

ul.labels-info li {
  margin: 0;
}
ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  text-transform: uppercase;
}
ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a;
  font-family: "Quicksand", sans-serif;
}
ul.labels-info li a:hover {
  background: #f5f5f5;
  color: #6a6a6a;
}
ul.labels-info li a:focus {
  background: #f5f5f5;
  color: #6a6a6a;
}
ul.labels-info li a i {
  padding-right: 10px;
}

.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px;
}

.inbox-head {
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;
  color: #000000;
  min-height: 80px;
  padding: 20px;
}
.inbox-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px;
}
.inbox-head .sr-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px;
}
.inbox-head .sr-btn {
  background: #fff;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #000000;
  height: 40px;
  padding: 0 20px;
}

.table-inbox {
  border: 1px solid #e7e7e7;
  margin-bottom: 0;
}
.table-inbox tr td {
  padding: 12px !important;
}
.table-inbox tr td:hover {
  cursor: pointer;
}
.table-inbox tr td .ti-star.inbox-started {
  color: #f39c12;
}
.table-inbox tr td .ti-star {
  color: #d5d5d5;
}
.table-inbox tr td .ti-star:hover {
  color: #f39c12;
}
.table-inbox tr.unread td {
  background: #f5f5f5;
}

ul.inbox-pagination {
  float: right;
}
ul.inbox-pagination li {
  float: left;
}

.mail-option {
  display: inline-block;
  margin: 26px 0;
  width: 100%;
  font-size: 12px;
}
.mail-option .chk-all {
  margin-right: 5px;
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 16px;
}
.mail-option .chk-all input[type=checkbox] {
  margin-top: 0;
}
.mail-option .btn-group {
  margin-right: 5px;
}
.mail-option .btn-group a.btn {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
}
.mail-option .btn-group a.all {
  border: medium none;
  padding: 0;
  margin-left: 5px;
}
.mail-option .btn-group i {
  margin-left: 5px;
}
.mail-option .card-option-dropdown {
  left: 0;
  right: auto;
}

.inbox-pagination a.np-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 15px;
  margin-left: 5px;
}
.inbox-pagination li span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
}

.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6;
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative;
}
.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4);
}

.modal-header h4.modal-title {
  font-weight: 300;
}

.modal-body label {
  font-weight: 400;
}

.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.sender-info {
  margin-bottom: 20px;
}
.sender-info img {
  height: 30px;
  width: 30px;
}

.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px;
}

.view-mail a {
  color: #cc5145;
}

.attachment-mail {
  margin-top: 30px;
}
.attachment-mail ul {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.attachment-mail ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px;
}
.attachment-mail ul li img {
  width: 100%;
}
.attachment-mail ul li span {
  float: right;
}
.attachment-mail .file-name {
  float: left;
}
.attachment-mail .links {
  display: inline-block;
  width: 100%;
}

.fileupload-buttonbar .btn {
  margin-bottom: 5px;
}
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}

.files .progress {
  width: 200px;
}

.fileupload-processing .fileupload-loading {
  display: block;
}

* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}
* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.inbox-small-cells {
  text-align: center;
}

.mail-group-checkbox {
  position: relative;
  top: 2px;
}

.mail-checkbox.mail-group-checkbox {
  position: relative;
  top: 2px;
  left: 2px;
}

.table-inbox > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #e7e7e7;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}
.progress-bar {
  background-color: #009688;
}

.progress-bar-primary {
  background-color: #009688;
}

.progress-bar-success {
  background-color: #87de75;
}

.progress-bar-info {
  background-color: #5fb9e2;
}

.progress-bar-danger {
  background-color: #cc5145;
}

.progress-bar-warning {
  background-color: #f39c12;
}

.progress-bar-pink {
  background-color: #9a5ea5;
}

/* TO DO LIST
================================================== */
/* WebKit browsers */
/* Mozilla Firefox 4 to 18 */
/* Mozilla Firefox 19+ */
/* Internet Explorer 10+ */
.todo-list {
  margin-top: 45px;
}

.tdl-holder {
  margin: 0px auto;
}
.tdl-holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tdl-holder li {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  color: #878787;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.tdl-holder li span {
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tdl-holder label {
  cursor: pointer;
  display: block;
  line-height: 52px;
  padding: 0 15px;
  position: relative;
  margin: 0px !important;
}
.tdl-holder label:hover {
  background-color: #f5f5f5;
  color: #878787;
}
.tdl-holder label:hover a {
  display: block;
}
.tdl-holder label a {
  border-radius: 50%;
  color: #878787;
  display: none;
  float: right;
  font-weight: bold;
  line-height: normal;
  height: 16px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  width: 16px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tdl-holder input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.tdl-holder input[type=checkbox] + i {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  display: block;
  height: 18px;
  position: absolute;
  top: 20px;
  width: 18px;
  z-index: 1;
}
.tdl-holder input[type=checkbox]:checked + i::after {
  content: "";
  font-family: "themify";
  display: block;
  left: 0px;
  position: absolute;
  top: -20px;
  z-index: 2;
}
.tdl-holder input[type=checkbox]:checked ~ span {
  color: #878787;
  text-decoration: line-through;
}
.tdl-holder input[type=text] {
  background-color: #f5f5f5;
  height: 50px;
  margin-top: 40px;
}

.datamap-sales-hover-tooltip {
  background: #252525;
  font-family: "Quicksand", sans-serif;
  padding: 5px 10px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  border-radius: 3px;
}

thead tr th {
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}
thead tr th:last-child {
  text-align: right;
}

tbody tr th {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}
tbody tr td {
  font-family: "Quicksand", sans-serif;
  color: #878787;
}
tbody tr td:last-child {
  text-align: right;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 32px;
  vertical-align: top;
}

.table > thead > tr > th {
  border-bottom: 1px solid #e7e7e7;
}

.table .badge {
  text-transform: uppercase;
}

.current-progress {
  margin-top: 15px;
}

.progress-content {
  margin-bottom: 20px;
}

.progress-content:last-child {
  margin-bottom: 0px;
}

.current-progressbar {
  margin-top: 3px;
}
.current-progressbar .progress {
  height: 15px;
  margin: 0px;
  box-shadow: none;
}
.current-progressbar .progress-bar {
  box-shadow: 0px;
  line-height: 14px;
  font-size: 11px;
  box-shadow: none;
}

.login-logo {
  text-align: center;
  margin-bottom: 15px;
}
.login-logo span {
  color: #009688;
  font-size: 24px;
}
.login-logo img {
  height: 75px;
}

.login-content {
  margin: 100px 0;
}

.login-form {
  background: #fff;
  padding: 30px 30px 20px;
  border: 3px solid #009688;
  box-shadow: 0px 0px 15px 0px #888;
}
.login-form h4 {
  color: #009688;
  text-align: center;
  margin-bottom: 50px;
}
.login-form .checkbox {
  color: #000000;
}
.login-form .checkbox label {
  text-transform: none;
}
.login-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  border: 0px;
}
.login-form label {
  color: #000000;
  text-transform: uppercase;
}
.login-form label a {
  color: #009688;
}

.social-login-content {
  margin: 0px -30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
  background: #fcfcfc;
}

.social-button {
  padding: 0 30px;
}
.social-button i {
  padding: 19px;
}

.register-link a {
  color: #009688;
}

.cpu-load {
  width: 100%;
  height: 272px;
  font-size: 14px;
  line-height: 1.2em;
}

.cpu-load-data-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.cpu-load-data {
  margin-bottom: 30px;
}
.cpu-load-data li {
  display: inline-block;
  width: 32.5%;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}
.cpu-load-data li:last-child {
  border-right: 0px;
}

.nestable-cart {
  overflow: hidden;
}

.user-work h4,
.user-skill h4 {
  font-size: 14px;
  position: relative;
  margin-bottom: 15px;
  padding: 5px 0px;
  border-bottom: 1px solid #e7e7e7;
  font-family: "Quicksand", sans-serif;
}

.work-content {
  margin-bottom: 15px;
}
.work-content h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.user-skill li a {
  line-height: 25px;
}

.user-profile-name {
  display: inline-block;
  font-size: 20px;
}

.user-Location {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
}
.user-Location i {
  font-size: 14px;
}

.user-job-title {
  font-size: 14px;
  padding-bottom: 5px;
  color: #009688;
}

.ratings h4 {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 2px;
}
.ratings span {
  margin-right: 10px;
}

.rating-star {
  margin-bottom: 10px;
}

.user-send-message {
  margin-top: 15px;
}

.user-profile-tab {
  margin-top: 15px;
}
.user-profile-tab li a {
  padding: 7px 40px 7px 0px;
}

.contact-information,
.basic-information {
  margin: 10px 0px;
}
.contact-information h4,
.basic-information h4 {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Quicksand", sans-serif;
}

.contact-title {
  display: inline-block;
  padding-bottom: 10px;
  width: 100px;
}

.phone-number,
.mail-address,
.contact-email,
.contact-website,
.contact-skype,
.birth-date,
.gender {
  font-family: "Quicksand", sans-serif;
}

.profile-widget {
  margin: 0;
  text-align: center;
}

/*Aleart
-------------*/
.alert-primary {
  background-color: #00f2db;
  border-color: #00f2db;
  color: #009688;
}

.alert-success {
  background-color: #e0f7dc;
  border-color: #e0f7dc;
  color: #87de75;
}

.alert-warning {
  background-color: #f9cf8b;
  border-color: #f9cf8b;
  color: #f39c12;
}

.alert-danger {
  background-color: #e7afa9;
  border-color: #e7afa9;
  color: #cc5145;
}

.alert-pink {
  background-color: #b98fc0;
  border-color: #b98fc0;
  color: #9a5ea5;
}

.alert-dismissable .close, .alert-dismissible .close {
  color: rgba(0, 0, 0, 0.8);
}

/*    Labels
------------------*/
.label-default {
  background-color: #b1b1b1;
}

.label-primary {
  background-color: #009688;
}

.label-success {
  background-color: #87de75;
}

.label-info {
  background-color: #5fb9e2;
}

.label-danger {
  background-color: #cc5145;
}

.label-warning {
  background-color: #f39c12;
}

/* Calendar
================================================== */
/* =============
   Calendar
============= */
.calendar {
  float: left;
  margin-bottom: 0px;
}

.fc-view {
  margin-top: 30px;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 15px;
}

.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #fff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #e7e7e7;
}

.fc-widget-content {
  border: 1px solid #e7e7e7;
}

.fc th.fc-widget-header {
  background: #e7e7e7;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
}

.fc-button {
  background: #fff;
  border: 1px solid #e7e7e7;
  color: #000000;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: inherit;
  font-size: 16px;
}

.fc-state-hover {
  background: #f5f5f5 !important;
}

.fc-state-highlight {
  background: #f5f5f5 !important;
}

.fc-cell-overlay {
  background: #f5f5f5 !important;
}

.fc-unthemed .fc-today {
  background: #fff !important;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.external-event {
  color: #fff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

#drop-remove {
  margin: 0px;
  top: 3px;
}

#event-modal .modal-dialog,
#add-category .modal-dialog {
  max-width: 600px;
}

.flotTip {
  background: #252525;
  border: 1px solid #252525;
  padding: 5px 15px;
  color: #fff;
}

.flot-container {
  box-sizing: border-box;
  width: 100%;
  height: 275px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  background: #fff;
}

.flot-pie-container {
  height: 275px;
}

.flotBar-container {
  height: 275px;
}

.flot-line {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.legend table {
  border-spacing: 5px;
}

.morris-hover {
  position: absolute;
  z-index: 1;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

.morris-hover.morris-default-style {
  border-radius: 2px;
  padding: 10px 12px;
  color: #666;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff !important;
}

.morris-hover-point {
  color: rgba(255, 255, 255, 0.8) !important;
}

.products_1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.products_1 .pr_img_price {
  position: relative;
}
.products_1 .pr_img_price .product_price {
  min-width: 50px;
  min-height: 50px;
  background: #87de75;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.products_1 .pr_img_price .product_price p {
  padding-top: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.products_1 .product_details .product_name {
  padding-top: 30px;
}
.products_1 .product_details .prdt_add_to_cart {
  padding-top: 10px;
}
.products_1 .product_details .prdt_add_to_cart button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.product-2-details .table > tbody > tr > td {
  border: none;
}
.product-2-details .product-2-des {
  margin-top: 25px;
}
.product-2-details .product-2-des .product_name h4 {
  font-size: 15px;
  font-weight: 600;
}
.product-2-details .product-2-des .product_des p {
  font-size: 13px;
  font-style: italic;
}
.product-2-details .product-2-button {
  border-left: 1px solid #e7e7e7;
  margin-top: 25px;
}
.product-2-details .product-2-button .prdt_add_to_curt {
  padding-top: 10px;
}
.product-2-details .product-2-button .prdt_add_to_curt button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.product-3-img img {
  width: 100%;
}

.product_details_3 {
  padding: 15px 0px;
}
.product_details_3 .product_name h4 {
  font-size: 15px;
  font-weight: 600;
}
.product_details_3 .product_des {
  padding-bottom: 5px;
}
.product_details_3 .prdt_add_to_curt {
  padding-top: 10px;
}
.product_details_3 .prdt_add_to_curt button {
  text-transform: uppercase;
  font-weight: 600;
}

.favourite-menu-details .table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
}
.favourite-menu-details .favourite-menu-img {
  border-right: 1px solid #e7e7e7;
  margin-bottom: 25px;
  width: 120px;
}
.favourite-menu-details .favourite-menu-des {
  margin-top: 40px;
  margin-right: 465px;
}
.favourite-menu-details .favourite-menu-des .product_name h4 {
  font-weight: 600;
  text-align: left;
}
.favourite-menu-details .favourite-menu-button {
  margin-top: 40px;
}
.favourite-menu-details .favourite-menu-button .prdt_add_to_curt {
  padding-top: 10px;
}
.favourite-menu-details .favourite-menu-button .prdt_add_to_curt button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.order-list-item table tbody > tr > td {
  padding-top: 8px;
  border-top: 1px solid #e7e7e7;
}
.order-list-item table thead > tr > th {
  border-bottom: 1px solid #e7e7e7;
}
.order-list-item thead {
  background: #009688;
  text-align: left;
}
.order-list-item thead th {
  color: #fff;
  font-weight: bold;
}
.order-list-item tbody {
  background: #fff;
  text-align: left;
}
.order-list-item tbody td {
  color: #444444;
}

.booking-system-feedback {
  top: 5px !important;
  right: 15px;
}

.booking-system-top {
  padding-top: 15px;
}

.media-body {
  vertical-align: middle;
}
.media-body span {
  font-size: 10px;
  color: #009688;
}
.media-body p {
  color: #000000;
  line-height: 15px;
}

.example {
  overflow: hidden;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  background-color: #f5f5f5;
  text-align: justify;
}
.example p {
  padding: 20px 20px 0px 20px;
  font-size: 12px;
}

.box,
.simple {
  height: 300px;
}

.vmap {
  width: 100%;
  height: 400px;
}

.dark-browse-input-box {
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px;
  color: #000000;
  border: 1px solid #e7e7e7;
}
.dark-browse-input-box .dark-input-button {
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  background: #fff;
  border: none !important;
  color: #009688;
}
.dark-browse-input-box .dark-input-button i {
  font-weight: bold;
  font-size: 17px;
}
.dark-browse-input-box .dark-input-button:hover {
  background: #fff;
  color: #009688;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none !important;
}
.dark-browse-input-box .dark-input-button:focus {
  outline: none;
  border: none !important;
  background: none !important;
}

.file-input {
  position: relative;
  font-size: 14px;
}

.file-input label {
  position: absolute;
  top: -2px;
  right: 0;
  bottom: 0;
  margin: 0;
}
.file-input label:focus {
  outline: none;
  border: none !important;
  background: none !important;
}

.file-input .btn {
  position: absolute;
  right: 6px;
  top: 7px;
  bottom: 6px;
  max-width: 100px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 32px;
}

.file-input .btn input {
  width: 0;
  height: 0;
}

.file-input .file-name {
  float: left;
  width: 100%;
  border: 0;
  background: transparent;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #f5f5f5;
  color: #878787;
}

a,
button {
  outline: none !important;
  text-decoration: none !important;
  color: #878787;
  transition: all 0.2s ease 0s;
}
a:hover, a:focus, a.active,
button:hover,
button:focus,
button.active {
  color: #252525;
  outline: none !important;
  text-decoration: none !important;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #878787;
}

.dib {
  display: inline-block;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.main-content {
  padding: 15px;
}

h4 {
  font-size: 18px !important;
}

h5 {
  font-size: 14px;
}

.alert h4 {
  margin-bottom: 0px;
  color: #000000;
}

/*    Color Mixins
-------------------*/
.text-primary,
.color-primary {
  color: #009688;
}

.text-success,
.color-success {
  color: #87de75;
}

.text-info,
.color-info {
  color: #5fb9e2;
}

.text-danger,
.color-danger {
  color: #cc5145;
}

.text-warning,
.color-warning {
  color: #f39c12;
}

.text-pink,
.color-pink {
  color: #9a5ea5;
}

.text-dark,
.color-dark {
  color: #252525;
}

/*    Background Mixins
--------------------------*/
.bg-primary {
  background: #009688;
  color: #fff;
}

.bg-success {
  background: #87de75;
  color: #fff;
}

.bg-info {
  background: #5fb9e2;
  color: #fff;
}

.bg-danger {
  background: #cc5145;
  color: #fff;
}

.bg-warning {
  background: #f39c12;
  color: #fff;
}

.bg-pink {
  background: #9a5ea5;
  color: #fff;
}

.bg-dark {
  background: #252525;
  color: #fff;
}

.bg-transparent {
  background: transparent;
  color: #252525;
}

.bg-default {
  background: #b1b1b1;
  color: #fff;
}

/*    Border Mixins
--------------------------*/
.border-primary {
  border-color: #009688;
}

.border-success {
  border-color: #87de75;
}

.border-info {
  border-color: #5fb9e2;
}

.border-danger {
  border-color: #cc5145;
}

.border-warning {
  border-color: #f39c12;
}

.border-pink {
  border-color: #9a5ea5;
}

.border-dark {
  border-color: #252525;
}

.no-border {
  border: 0px !important;
}

.btn-custom {
  background-color: #5baba3;
  color: #fff;
}

/*    Brand Background
-----------------------------*/
.bg-facebook {
  background: #3b5998;
}

.bg-twitter {
  background: #1da1f2;
}

/*    width
-----------------------------*/
.w10pr {
  width: 10%;
}

.w12pr {
  width: 12%;
}

.text-white, .text-white * {
  color: #fff !important;
}

.text-black, .text-black * {
  color: #252525 !important;
}

.dropdown li {
  text-align: left;
}

.dropdown .dropdown-menu-left {
  right: 0;
  left: auto;
}

.cursor-pointer {
  cursor: pointer;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.invoiceItems .form-group {
  margin-top: 0px;
  margin-bottom: 0px;
}
.invoiceItems .table-bordered {
  border-width: 2px;
}

/* bank transactions */
.bankStmtMapping .box {
  border: 1px solid #bbb;
  border-radius: 3px;
  height: 205px;
  min-height: 205px;
  max-height: 600px;
  padding: 10px !important;
}
.bankStmtMapping .v-center {
  padding-top: 15%;
}
.bankStmtMapping .tab-content .tab-pane {
  max-height: 140px;
  overflow: hidden;
  overflow-y: auto;
}

.bankMasterDetails .tab-pane {
  border: 1px solid #ddd;
  border-top: none;
  padding: 15px;
}

/* upload file */
.fileUploadMainSection .uploadFileDiv {
  color: #999;
  border-style: dashed;
  border-color: #ccc;
  text-align: center;
  padding-top: 30%;
  height: 700px;
}
.fileUploadMainSection .fileAvilable {
  height: 700px;
}
.fileUploadMainSection .fixHeight {
  height: 700px;
  overflow: hidden;
  overflow-y: auto;
}
.fileUploadMainSection .ss-embed-responsive {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
