@import "variable"; // variable




.card-body{
    background: $white;
}


.card {
    background: $white;
    margin: 15px 0px 15px 0px;
    //padding: 20px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px $border;
}

.card-header{ 
    border-radius: 3px;
	color:#000000 !important;
    background-color: #ddd;
    padding: 15px;
    //margin-right: 15px;
    float: left;
    width:100%;
    margin-bottom: 20px;
    z-index: 99;
    h4 { 
        display: inline-block;
        
    }
    p {
        font-family: $mol;
        margin-bottom: 12px;
        
    }
}

.card-header1{ 
    border-radius: 3px;
	border-top:3px solid #5baba3;
	//box-shadow:0px 1px;
    background-color: #ddd;
    padding: 15px;
    //margin-right: 15px;
    float: left;
    width:100%;
    margin-bottom: 20px;
    //z-index: 100;
    h4 { 
        display: inline-block;
        
    }
    p {
        font-family: $mol;
        margin-bottom: 12px;
        
    }
}
.card-header2{ 
    border-radius: 3px;
	border-bottom:2px solid #5baba3;
	box-shadow:0px 1px;
    background-color: #ddd;
    padding: 15px;
    //margin-right: 15px;
    float: left;
    width:100%;
    margin-bottom: 20px;
    //z-index: 100;
    h4 { 
        display: inline-block;
        
    }
    p {
        font-family: $mol;
        margin-bottom: 12px;
        
    }
}

	

.single-card {
    h4 {
        font-size:16px;
    }
    .sparkline-box {
        float:right;
    }
    .visit-count {
        float: left;
        padding-top: 18px;
        line-height: 10px;
        font-size: 18px;
    }
}

.card-header-right-icon {
    display: inline-block;
    float: right;
    li {
        float: right;
        padding-left: 14px;
        color: $text-light;
        cursor: pointer;
        vertical-align: middle;
        transition: all 0.5s ease-in-out;
        display: inline-block;
        .ti-close {
            font-size: 12px;
        }
    }
}

.card-option {
    position: relative;
}

.card-option-dropdown {
    display: none;
//    background: $white;
//    padding: 15px;
//    position: absolute;
    left: auto;
    right: 0;
//    width: 150px;
//    font-family: $mol;
//    border: 1px solid $border;
//    border-radius: 3px;
    li {
        display: block;
        float: left;
        width: 100%;
        padding: 0px; 
        a {
            line-height: 25px;
            font-size: 12px;
            i {
                margin-right: 10px;
            }
        }
    }
}



.doc-link {
    float: right;
    position: relative;
    transition: all 0.5s ease-in-out;
    &:hover,
    &:focus {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
    &:after {
        border: 1px solid $border;
        border-radius: 5px;
        content: "Documentation";
        font-size: 12px;
        padding: 5px 10px;
        position: absolute;
        right: -30px;
        top: -30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }
}


.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
