@import "variable"; // variable
body {
    font-family: $mont;
    background:$white-light;
	color: $text-light;
}

a,
button {
    outline: none!important;
    text-decoration: none!important;
    color: $text-light;
    transition: all 0.2s ease 0s;
    &:hover,
    &:focus,
    &.active {
        color: $black;
        outline: none!important;
        text-decoration: none!important;
    }
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

p {
//    margin-bottom: 0px;
    font-family: $mol;
    color: $text-light;
}

h1,
h2,
h3,
h4,
h5,
h6.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
//    margin: 0px;
}

.dib {
    display: inline-block;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.main-content {
    padding: 15px;
}
h4{
	font-size:18px !important;
	
}
h5{
 font-size:14px;
 
}

.alert{
    h4{
		margin-bottom:0px;
        color: $text;
    }
}



/*    Color Mixins
-------------------*/

.text-primary,
.color-primary {
    color: $primary;
}

.text-success,
.color-success {
    color: $success;
}

.text-info,
.color-info {
    color: $info;
}

.text-danger,
.color-danger {
    color: $danger;
}

.text-warning,
.color-warning {
    color: $warning;
}

.text-pink,
.color-pink {
    color: $pink;
}

.text-dark,
.color-dark {
    color: $dark;
}


/*    Background Mixins
--------------------------*/


.bg-primary {
    background: $primary;
    color:$white;
}

.bg-success {
    background: $success;
    color:$white;
}

.bg-info {
    background: $info;
    color:$white;
}

.bg-danger {
    background: $danger;
    color:$white;
}

.bg-warning {
    background: $warning;
    color:$white;
}

.bg-pink {
    background: $pink;
    color:$white;
}

.bg-dark {
    background: $dark;
    color:$white;
}

.bg-transparent {
    background: transparent;
    color: $black;
}
.bg-default {
    background: $default;
    color:$white;
}




/*    Border Mixins
--------------------------*/


.border-primary {
    border-color: $primary;
}

.border-success {
    border-color: $success;
}

.border-info {
    border-color: $info;
}

.border-danger {
    border-color: $danger;
}

.border-warning {
    border-color: $warning;
}

.border-pink {
    border-color: $pink;
}

.border-dark {
    border-color: $dark;
}

.no-border {
    border: 0px!important;
}
.btn-custom{
background-color: $btn1;
color:#fff;
}





/*    Brand Background
-----------------------------*/

.bg-facebook{
    background: $facebook;
}

.bg-twitter{
    background: $twitter;
}




/*    width
-----------------------------*/

.w10pr{
    width: 10%
}


.w12pr{
    width: 12%
}


 