@import "variable"; // variable

/*    Header
---------------*/

.header {
    background: $primary;
    position: fixed;
    width: 100%;
    min-height: 55px;
    z-index: 999;
}

.logo {
    background: $primary;
    display: inline-block;
    padding: 0;
    line-height:50px;
    text-align: center;
    width: 250px;
    transition: width 300ms ease-in-out;
    img { 
        height:55px;
        margin-right: 10px;
        transition: 300ms ease-in-out;
    }
    .small-logo {
        visibility: hidden;
        opacify:0;
        width:0;
        height:0;
    }
    span {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 3px;
        padding-left: 20px;
        text-transform: uppercase;
    }
}

.sidebar-hide {
    .logo {
        width: 60px;
        span {
            display: none;
        }
    }
    .full-logo {
        visibility: hidden;
        opacify:0;
        width:0;
        height:0;
    }
    .small-logo {
        visibility: visible;
        opacify:1;
        width:auto;
        height:45px;
    }
}

.header-icon {
    font-size: 18px;
    padding: 12px 15px;
    color: $white;
    position: relative;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    float: left;
    cursor: pointer; 
     
    &:hover,
    &:focus,
    &.active {
        background: darken($primary, 3%);
    }
    .note-count {
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 10px;
        width: 18px;
        height: 18px;
        line-height: 18px; 
        border-radius: 100%;
        text-align: center;
        background: #00a4b9;
        z-index: 9999;
        font-weight: 600; 
        animation-name: noteblink;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 5;
    } 
}

@keyframes noteblink { 
    0%,30%,36%,45%,52%,100%  {
        background: #00a4b9;
        color:white;
    }
    31%,35%,46%,51% {
        background: white;
        color:#00a4b9;
    } 
}

/*    Humberger icon
--------------------------*/

.hamburger {
  display: inline-block;
  left: 10px;
  position: relative;
  top: 7px;
  transition: all 0.3s ease-in-out 0s;
  width: 37px;
  z-index: 999;
  cursor: pointer;
    >span{    
        color: white;
        font-size: 25px;
    }  
}  
.header-icon.active {
    .drop-down {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}

.drop-down {
    background: $white;
    color: $black;
    visibility: hidden;
    opacity: 0;
    width: 320px;
    position: absolute;
    right: 0;
    top: 55px;
    transform: translateY(50px);
    transition: all 0.4s ease-in-out;
    border-top: 0px; 
    border: 1px solid $border; 
}

.header-left {
    .drop-down {
        left: 0;
    }
}

.dropdown-content-heading {
    padding: 10px 15px; 
    span {
        font-size: 13px; 
        color: $text;
    }
    i {
        position: relative;
        top: 5px;
        opacity: 1!important;
        color: $primary;
    }
}

.dropdown-content-body { 
    li {
        padding: 15px;
        border-top: 1px solid $white-light;
        &:hover,
        &:focus,
        &.active {
            background: $white-light;
            border-top: 1px solid $white-light;
        }
        a { 
            &:hover,
            &:focus,
            &.active {
                color: $text-light;
            }
        }
        &:last-child {
            padding: 5px 15px;
        }
    }
}

.notification-heading {
    font-size: 13px;
    font-weight: 700;
    color: $text;
}

.avatar-img {
    border-radius: 100px;
    width: 25px;
    position: relative;
    top: -3px;
}
.header-icon>.avatar-img {
        width:24px;
}

.user-avatar {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700; 
}
@media screen and (max-width:750px) {
    .header-icon>.avatar-img {  margin-right: 42px; }
    .header-icon>.user-avatar{ display: none; }
}
@media screen and (max-width:450px) {
    .header-icon>.avatar-img {  margin-right: 22px; } 
}

.notification-text {
    font-size: 12px;
    font-family: $mol;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
}

.notification-timestamp {
    font-size: 11px;
}

.notification-percentage {
    font-size: 12px;
    position: relative;
    top: 12px;
}

.notification-unread {
    background: $white-light;
    .notification-heading {
        color: #555;
    }
}

.more-link {
    font-size: 12px;
    color: $primary;
    display: inline-block;
}

.dropdown-profile {
    width: 200px;
    .trial-day {
        font-size: 11px;
        padding-top: 2px;
        color: $primary;
    }
    li {
        padding: 7px 15px;
        a {
            display: block;
            color: $text;
            &:hover,
            &:focus,
            &.active {
                color: $text;
            }
            span { 
                font-size: 14px;
            }
            i {
                margin-right: 5px;
                font-size: 14px;
            }
        }
        &:last-child {
            padding: 7px 15px;
        }
    }
}

.header-link {
    position: relative;
    top: -3px;
    font-size: 14px; 
}
 
.main {
    .page-header {
        min-height: 55px;
        margin: 0px;
        padding: 0px 15px;
        background: $white;
        border-bottom: 0px;
        h1 {
            font-size: 18px;
            padding: 14px 0px;
            margin: 0px;
        }
        .breadcrumb {
            margin: 0px;
            padding: 14px 15px;
            background: $white;
            li {
                &:hover,
                &:focus,
                &.active {
                    font-family: $mol;
                    font-weight: normal;
                    font-size: 12px;
                }
                a {
                    font-size: 12px;
                    font-family: $mol;
                }
            }
        }
    }
}

.dropdown-task {
    .progress {
        height: 5px;
        margin-bottom: 0px;
        margin-top: 20px;
        box-shadow: none;
    }
    .progress-bar {
        box-shadow: none;
    }
}