@import "variable"; // variable
.login-logo {
    text-align: center;
    margin-bottom: 15px;
    span {
        color: $primary;
        font-size: 24px;
    }
    img{
        height: 75px;
    }
}

.login-content {
    margin: 100px 0;
}

.login-form {
    background: $white;
    padding: 30px 30px 20px;
    border: 3px solid $primary;
    box-shadow: 0px 0px 15px 0px #888;
    h4 {
        color: $primary;
        text-align: center;
        margin-bottom: 50px;
    }
    .checkbox {
        color: $text;
        label {
            text-transform: none;
        }
    }
    .btn {
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        border: 0px;
        //        font-family: $mol;
    }
    label {
        color: $text;
        text-transform: uppercase;
//        font-family: $mol;
        a{
            color: $primary;
        }
    }
}

.social-login-content {
    margin: 0px -30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 30px 0px;
    background: #fcfcfc;
}

.social-button {
    padding: 0 30px;
    i{
        padding: 19px;
    }
}


.register-link{
    a{
        color: $primary;
    }
}














