/*
    Template: Unix
    Author: VueJS Admin
    Url: https://vuejsadmin.com
    Developer by: VueJS Admin

*/

@import "variable"; // variable
@import "fonts"; // fonts.scss
@import "card"; // card.scss
@import "badge"; // badge.scss
@import "tab"; // tab.scss
@import "modal"; // modal.scss
@import "timeline"; // timeline.scss
@import "data-table"; // data-tableless
@import "panel"; // card.scss
@import "button"; // button.scss
@import "header"; // home.scss
@import "gmap"; // gmap.scss
@import "chat"; // chat.scss
@import "carousel"; // carousel.scss
@import "weather"; // weather.scss
@import "invoice-edit"; // invoice-edit.scss
@import "invoice"; // invoice.scss
@import "widget-stat"; // widget-stat.scss
@import "recent-comments"; // recent-comments.scss
@import "recent-message"; // recent-message.scss
@import "forms"; // form.scss
@import "compose-email"; // compose email.scss
@import "progress-bar"; // progressbar.scss
@import "todo-list"; // todo-list.scss
@import "datamap"; // datamap.scss
@import "table"; // table.scss
@import "order-progress"; // order-progress.scss
@import "login"; // login.scss
@import "chart"; // chart.scss
@import "nestable"; // nestable.scss
@import "profile"; // profile.scss
@import "ui-element-basic"; // ui-element-basic.scss
@import "calendar"; // calendar.scss
@import "flot-chart"; // flot-chart.scss
@import "morris-chart"; // morris-chart.scss
@import "products_1"; // fonts.scss
@import "products_2"; // fonts.scss
@import "products_3"; // fonts.scss
@import "favourite_menu"; // fonts.scss
@import "order-list"; // order-list.scss
@import "booking-system"; // booking-system.scss
@import "scrollable"; // scrollable.scss
@import "vector-map"; // vector-map.scss
@import "menu-upload"; // menu-upload.scss
@import "global"; // fonts.scss


.text-white, .text-white * {
	color: $white !important;
}
.text-black, .text-black * {
	color: $dark !important;
}
.dropdown li{
	text-align: left;
}
.dropdown .dropdown-menu-left {
    right: 0;
    left: auto;
}
.cursor-pointer{
	cursor:pointer;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.invoiceItems{
 	.form-group{
		margin-top: 0px;
    	margin-bottom: 0px;
	}
	.table-bordered{
		border-width: 2px;
	}
}

/* bank transactions */
.bankStmtMapping{
	.box {
	    border: 1px solid #bbb;
	    border-radius: 3px;
	    height: 205px;
	    min-height: 205px;
	    max-height: 600px;
	    padding: 10px !important;

	}
	.v-center{
		padding-top: 15%;
	}
	.tab-content{
		.tab-pane {
			max-height: 140px;
			overflow: hidden;
			overflow-y:auto;
		}
		
	}
}
.bankMasterDetails{
	.tab-pane {
		border:1px solid #ddd;
		border-top:none;
		padding:15px;
	}
}
/* upload file */
.fileUploadMainSection{
	.uploadFileDiv {
	    color: #999;
	    border-style: dashed;
	    border-color: #ccc;
	    text-align: center;
	    padding-top: 30%;
	    height: 700px;
	}
	.fileAvilable{
		 height: 700px;
	}
	.fixHeight{
		height: 700px;
		overflow: hidden;
		overflow-y: auto;
	}
	.ss-embed-responsive {
	    height: 100%;
	    width: 100%;
	}
}
