//    Font Variable 
$mont:'Quicksand', sans-serif;
$mol: 'Quicksand', sans-serif;




//    Color Variable 
$primary:#009688;
$btn1:#5baba3;
$success:#87de75;
$info:#5fb9e2;
$danger:#cc5145;
$warning:#f39c12;
$pink:#9a5ea5;
$dark:#252525;
$default:#b1b1b1;
$text:#000000;
$text-light:#878787;
$border:#eee;



//   Solid Color 
$white:#fff;
$white-light:#f5f5f5;
$black:#252525;
$border:#e7e7e7;





//    Brand color 
$facebook:#3b5998;
$twitter:#1da1f2;
